body {
    background: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

h1.main-heading {
    color: whitesmoke;

}

#about-me {
    color: whitesmoke;
    
}

a {
    color: whitesmoke;
    font-size: x-large;
}
