body {
    background: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

#main-heading {
    color: whitesmoke;
    opacity: 0.75;
}


li a {
    display: block;
    color: black;
    background-color: rgba(92,6,95,255);
    border:3px solid black;
    opacity: 0.85;
    font-size: x-large;
    padding: 8px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: whitesmoke;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(92,6,95,255);
  }


